.tabelas{
    display: grid;
    /*grid-gap: .2rem;*/
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 100%;

    height: calc(100vh - 50px);
}

.tabelas__principal{
    background: url(../imgs/3.jpg) center / cover no-repeat;
    grid-column: 1 / 4;
    grid-row: 1 / 1;
}

.tabelas__produtos{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}